<!--suppress ALL -->
<div class="causes">
    <div class="container">
        <div class="section-header text-center">
            <p>Popular Causes</p>
            <h2>Let's know about charity causes around the world</h2>
        </div>
        <div class="owl-carousel causes-carousel">
            <div class="causes-item">
                <div class="causes-progress">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <span>85%</span>
                        </div>
                    </div>
                    <div class="progress-text">
                        <p><strong>Raised:</strong> $100000</p>
                        <p><strong>Goal:</strong> $50000</p>
                    </div>
                </div>
                <div class="causes-text">
                    <h3>Donate to this Worthy course</h3>
                    <p>It’s easier to take than to give. It’s nobler to give than to take. The thrill of taking lasts a day. The thrill of giving lasts a lifetime.</p>
                </div>
                <div class="causes-btn">
                    <a href="/donate" class="btn btn-custom">Learn More</a>
                    <a href="/donate" class="btn btn-custom">Donate Now</a>
                </div>
            </div>
            <div class="causes-item">
                <div class="causes-progress">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <span>85%</span>
                        </div>
                    </div>
                    <div class="progress-text">
                        <p><strong>Raised:</strong> $100000</p>
                        <p><strong>Goal:</strong> $50000</p>
                    </div>
                </div>
                <div class="causes-text">
                    <h3>Donate to this worthy cause</h3>
                    <p>It’s easier to take than to give. It’s nobler to give than to take. The thrill of taking lasts a day. The thrill of giving lasts a lifetime.</p>
                </div>
                <div class="causes-btn">
                    <a href="/donate" class="btn btn-custom">Learn More</a>
                    <a href="/donate" class="btn btn-custom">Donate Now</a>
                </div>
            </div>
            <div class="causes-item">
                <div class="causes-progress">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <span>85%</span>
                        </div>
                    </div>
                    <div class="progress-text">
                        <p><strong>Raised:</strong> $100000</p>
                        <p><strong>Goal:</strong> $50000</p>
                    </div>
                </div>
                <div class="causes-text">
                    <h3>Donate to this worthy course</h3>
                    <p>It’s easier to take than to give. It’s nobler to give than to take. The thrill of taking lasts a day. The thrill of giving lasts a lifetime.</p>
                </div>
                <div class="causes-btn">
                    <a href="/donate" class="btn btn-custom">Learn More</a>
                    <a href="/donate" class="btn btn-custom">Donate Now</a>
                </div>
            </div>
            <div class="causes-item">
                <div class="causes-progress">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <span>85%</span>
                        </div>
                    </div>
                    <div class="progress-text">
                        <p><strong>Raised:</strong> $100000</p>
                        <p><strong>Goal:</strong> $50000</p>
                    </div>
                </div>
                <div class="causes-text">
                    <h3>Donate to this worthy course</h3>
                    <p>It’s easier to take than to give. It’s nobler to give than to take. The thrill of taking lasts a day. The thrill of giving lasts a lifetime.</p>
                </div>
                <div class="causes-btn">
                    <a href="/donate" class="btn btn-custom">Learn More</a>
                    <a href="/donate" class="btn btn-custom">Donate Now</a>
                </div>
            </div>
        </div>
    </div>
</div>