<div class="testimonial">
    <div class="container">
        <div class="section-header text-center">
            <p>Testimonial</p>
            <h2>What people are talking about our charity activities</h2>
        </div>
        <div class="owl-carousel testimonials-carousel">
            <div class="testimonial-item">
                <div class="testimonial-profile">
                    <img src="img/testimonial-1.png" alt="Image">
                    <div class="testimonial-name">
                        <h3>Person Name</h3>
                        <p>Profession</p>
                    </div>
                </div>
                <div class="testimonial-text">
                    <p>
                        Who is the next philanthropist? You are one through your golden heart
                    </p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-profile">
                    <img src="img/carousel-1.png" alt="Image">
                    <div class="testimonial-name">
                        <h3>Person Name</h3>
                        <p>Profession</p>
                    </div>
                </div>
                <div class="testimonial-text">
                    <p>
                        Who is the next philanthropist? You are one through your golden heart
                    </p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-profile">
                    <img src="img/testimonial-3.jpg" alt="Image">
                    <div class="testimonial-name">
                        <h3>Person Name</h3>
                        <p>Profession</p>
                    </div>
                </div>
                <div class="testimonial-text">
                    <p>
                        Who is the next philanthropist? You are one through your golden heart
                    </p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-profile">
                    <img src="img/testimonial-4.jpg" alt="Image-T">
                    <div class="testimonial-name">
                        <h3>Person Name</h3>
                        <p>Profession</p>
                    </div>
                </div>
                <div class="testimonial-text">
                    <p>
                        Who is the next philanthropist? You are one through your golden heart
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>