<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>HOPE HAVEN | Donate </title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
	 
		<%- include('../partials/site/head'); %>
	</head>

	<body>
		<!-- Top Bar Start -->
		<%- include('../partials/site/header', { current: current }); %>
		<!-- Top Bar End -->
        
		<!-- Page Header Start -->
		<div class="page-header">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h2>Donate Now</h2>
					</div>
					<div class="col-12">
						<a href="">Home</a>
						<a href="">Donate</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Page Header End -->
		
		
		<!-- Donate Start -->
		<%- include('../partials/site/donate'); %>
		<!-- Donate End -->
		
		<!-- Footer Start -->
		<%- include('../partials/site/footer'); %>
		<!-- Footer End -->
	</body>
</html>

