<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>HOPE HAVEN | Our Team </title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
	    
		<%- include('../partials/site/head'); %>
	</head>

	<body>
		<!-- Top Bar Start -->
		<%- include('../partials/site/header', { current: current }); %>
		<!-- Top Bar End -->
        
		<!-- Page Header Start -->
		<div class="page-header">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h2>Team Member</h2>
					</div>
					<div class="col-12">
						<a href="">Home</a>
						<a href="">Team</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Page Header End -->
		
		
		<!-- Team Start -->
		<%- include('../partials/site/team'); %>
		<!-- Team End -->
        
        
		<!-- Footer Start -->
		<%- include('../partials/site/footer'); %>
		<!-- Footer End -->
	</body>
</html>

